body{
    background: #001424;
}
.navbar-brand{
    color: #fff;
}
.navbar-nav .nav-link.active{
    color: #fff;
    font-size: 24px;
}
#navbarNav{
    justify-content: end;
}
.navbar-brand{
    font-size: 24px;
}

.navbar-nav .nav-link.active:hover {
    color: yellow;

}

.film-prev{
    width: 200px;


}
.card{
    --bs-card-border-width: 0px;
    background: #001424;

}
.card p {
    color :#fff;
}

.Films{
    color: #fff;
    font-size: 40px;
}


